* {
   border: 0;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.btn {
   border: none;
   text-transform: uppercase;
   padding: 0.5rem 1.5rem;
   border-radius: 0.2rem;
   letter-spacing: 1px;
   &:hover {
      cursor: pointer;
   }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

ul,
ol {
   list-style-type: none;
}

/*
*  Display
*/

.spacer {
   width: 100%;
}

.spacer-y {
   height: 100%;
}

.text-white {
   color: white;
}

.to-center-before::before,
.to-center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.float-right {
   float: right;
}
.float-left {
   float: left;
}

.top {
   top: 0;
}
.top-1 {
   top: 0.5rem;
}
.top-2 {
   top: 1rem;
}

.bottom {
   bottom: 0;
}
.right {
   right: 0;
}
.bottom-1 {
   bottom: 1rem;
}
.right-1 {
   right: 0.5rem;
}
.right-2 {
   right: 1rem;
}

.text-center {
   text-align: center;
}
.ta-c {
   text-align: center;
}
.ta-l {
   text-align: left;
}
.ta-r {
   text-align: right;
}

a {
   text-decoration: none !important;
}

input {
   &:focus {
      outline: none;
   }
}

.font-normal {
   font-weight: normal;
}
.font-bold {
   font-weight: bold;
}

.overflow-auto {
   overflow: auto !important;
}
.overflow-hidden {
   overflow: hidden !important;
}
.overflow-scroll {
   overflow: scroll !important;
}

button {
   text-transform: uppercase;
   padding: 0.5rem 1rem;
   font-weight: bolder;
   letter-spacing: 1px;
   &:focus {
      outline: none;
   }
}
.circle {
   border-radius: 50%;
}
hr {
   border-bottom: 1px solid #616161;
}
.rounded {
   border-radius: 0.4rem;
}
.divider {
   border: none;
   height: 1px;
   &.light {
      background-color: #e0e0e0;
   }
   &.medium {
      background-color: #9e9e9e;
   }
   &.dark {
      background-color: #313131;
   }
}
.pointer {
   cursor: pointer;
}
