$elevation1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$elevation2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$elevation3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$elevation4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$elevation5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
$elevation_transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
@mixin elevationmixer($shadow, $hoverShadow) {
   box-shadow: $shadow;
   transition: $elevation_transition;
   // &:hover {
   //    box-shadow: $hoverShadow;
   // }
}
.elevation-1 {
   @include elevationmixer($elevation1, $elevation2);
}
.elevation-2 {
   @include elevationmixer($elevation2, $elevation3);
}
.elevation-3 {
   @include elevationmixer($elevation3, $elevation4);
}
.elevation-4 {
   @include elevationmixer($elevation4, $elevation5);
}
.elevation-5 {
   @include elevationmixer($elevation5, $elevation5);
}