// Margin app
.ma-0 {
   margin: 0 !important;
}
.ma-1 {
   margin: 0.2rem;
}
.ma-2 {
   margin: 0.4rem;
}
.ma-3 {
   margin: 0.6rem;
}
.ma-4 {
   margin: 0.8rem;
}
.ma-5 {
   margin: 1rem;
}
.ma-6 {
   margin: 1.2rem;
}
.ma-7 {
   margin: 1.4rem;
}
.ma-8 {
   margin: 1.6rem;
}
.ma-9 {
   margin: 1.8rem;
}
.ma-10 {
   margin: 2rem;
}

// Margin x-axis
.mx-auto {
   margin-left: auto !important;
   margin-right: auto !important;
}
.mx-0 {
   margin-left: 0 !important;
   margin-right: 0 !important;
}
.mx-1 {
   margin-left: 0.2rem;
   margin-right: 0.2rem;
}
.mx-2 {
   margin-left: 0.4rem;
   margin-right: 0.4rem;
}
.mx-3 {
   margin-left: 0.6rem;
   margin-right: 0.6rem;
}
.mx-4 {
   margin-left: 0.8rem;
   margin-right: 0.8rem;
}
.mx-5 {
   margin-left: 1rem;
   margin-right: 1rem;
}
.mx-6 {
   margin-left: 1.2rem;
   margin-right: 1.2rem;
}
.mx-7 {
   margin-left: 1.4rem;
   margin-right: 1.4rem;
}
.mx-8 {
   margin-left: 1.6rem;
   margin-right: 1.6rem;
}
.mx-9 {
   margin-left: 1.8rem;
   margin-right: 1.8rem;
}
.mx-10 {
   margin-left: 2rem;
   margin-right: 2rem;
}

//Margin y-axis
.my-auto {
   margin-top: auto !important;
   margin-bottom: auto !important;
}
.my-0 {
   margin-top: 0 !important;
   margin-bottom: 0 !important;
}
.my-1 {
   margin-top: 0.2rem;
   margin-bottom: 0.2rem;
}
.my-2 {
   margin-top: 0.4rem;
   margin-bottom: 0.4rem;
}
.my-3 {
   margin-top: 0.6rem;
   margin-bottom: 0.6rem;
}
.my-4 {
   margin-top: 0.8rem;
   margin-bottom: 0.8rem;
}
.my-5 {
   margin-top: 1rem;
   margin-bottom: 1rem;
}
.my-6 {
   margin-top: 1.2rem;
   margin-bottom: 1.2rem;
}
.my-7 {
   margin-top: 1.4rem;
   margin-bottom: 1.4rem;
}
.my-8 {
   margin-top: 1.6rem;
   margin-bottom: 1.6rem;
}
.my-9 {
   margin-top: 1.8rem;
   margin-bottom: 1.8rem;
}
.my-10 {
   margin-top: 2rem;
   margin-bottom: 2rem;
}

// Margin top
.mt-0 {
   margin-top: 0 !important;
}
.mt-1 {
   margin-top: 0.2rem;
}
.mt-2 {
   margin-top: 0.4rem;
}
.mt-3 {
   margin-top: 0.6rem;
}
.mt-4 {
   margin-top: 0.8rem;
}
.mt-5 {
   margin-top: 1rem;
}
.mt-6 {
   margin-top: 1.2rem;
}
.mt-7 {
   margin-top: 1.4rem;
}
.mt-8 {
   margin-top: 1.6rem;
}
.mt-9 {
   margin-top: 1.8rem;
}
.mt-10 {
   margin-top: 2rem;
}

// Margin right
.mr-0 {
   margin-right: 0 !important;
}
.mr-1 {
   margin-right: 0.2rem;
}
.mr-2 {
   margin-right: 0.4rem;
}
.mr-3 {
   margin-right: 0.6rem;
}
.mr-4 {
   margin-right: 0.8rem;
}
.mr-5 {
   margin-right: 1rem;
}
.mr-6 {
   margin-right: 1.2rem;
}
.mr-7 {
   margin-right: 1.4rem;
}
.mr-8 {
   margin-right: 1.6rem;
}
.mr-9 {
   margin-right: 1.8rem;
}
.mr-10 {
   margin-right: 2rem;
}

// Margin bottom
.mb-0 {
   margin-bottom: 0 !important;
}
.mb-1 {
   margin-bottom: 0.2rem;
}
.mb-2 {
   margin-bottom: 0.4rem;
}
.mb-3 {
   margin-bottom: 0.6rem;
}
.mb-4 {
   margin-bottom: 0.8rem;
}
.mb-5 {
   margin-bottom: 1rem;
}
.mb-6 {
   margin-bottom: 1.2rem;
}
.mb-7 {
   margin-bottom: 1.4rem;
}
.mb-8 {
   margin-bottom: 1.6rem;
}
.mb-9 {
   margin-bottom: 1.8rem;
}
.mb-10 {
   margin-bottom: 2rem;
}

// Margin left
.ml-0 {
   margin-left: 0 !important;
}
.ml-1 {
   margin-left: 0.2rem;
}
.ml-2 {
   margin-left: 0.4rem;
}
.ml-3 {
   margin-left: 0.6rem;
}
.ml-4 {
   margin-left: 0.8rem;
}
.ml-5 {
   margin-left: 1rem;
}
.ml-6 {
   margin-left: 1.2rem;
}
.ml-7 {
   margin-left: 1.4rem;
}
.ml-8 {
   margin-left: 1.6rem;
}
.ml-9 {
   margin-left: 1.8rem;
}
.ml-10 {
   margin-left: 2rem;
}
