.pa-0 {
   padding: 0 !important;
}
.pa-1 {
   padding: 0.2rem;
}
.pa-2 {
   padding: 0.4rem;
}
.pa-3 {
   padding: 0.6rem;
}
.pa-4 {
   padding: 0.8rem;
}
.pa-5 {
   padding: 1rem;
}
.pa-6 {
   padding: 1.2rem;
}
.pa-7 {
   padding: 1.4rem;
}
.pa-8 {
   padding: 1.6rem;
}
.pa-9 {
   padding: 1.8rem;
}
.pa-10 {
   padding: 2rem;
}

// Padding x-axis
.px-0 {
   padding-left: 0 !important;
   padding-right: 0 !important;
}
.px-1 {
   padding-left: 0.2rem;
   padding-right: 0.2rem;
}
.px-2 {
   padding-left: 0.4rem;
   padding-right: 0.4rem;
}
.px-3 {
   padding-left: 0.6rem;
   padding-right: 0.6rem;
}
.px-4 {
   padding-left: 0.8rem;
   padding-right: 0.8rem;
}
.px-5 {
   padding-left: 1rem;
   padding-right: 1rem;
}
.px-6 {
   padding-left: 1.2rem;
   padding-right: 1.2rem;
}
.px-7 {
   padding-left: 1.4rem;
   padding-right: 1.4rem;
}
.px-8 {
   padding-left: 1.6rem;
   padding-right: 1.6rem;
}
.px-9 {
   padding-left: 1.8rem;
   padding-right: 1.8rem;
}
.px-10 {
   padding-left: 2rem;
   padding-right: 2rem;
}
.py-0 {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
}
.py-1 {
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;
}
.py-2 {
   padding-top: 0.4rem;
   padding-bottom: 0.4rem;
}
.py-3 {
   padding-top: 0.6rem;
   padding-bottom: 0.6rem;
}
.py-4 {
   padding-top: 0.8rem;
   padding-bottom: 0.8rem;
}
.py-5 {
   padding-top: 1rem;
   padding-bottom: 1rem;
}
.py-6 {
   padding-top: 1.2rem;
   padding-bottom: 1.2rem;
}
.py-7 {
   padding-top: 1.4rem;
   padding-bottom: 1.4rem;
}
.py-8 {
   padding-top: 1.6rem;
   padding-bottom: 1.6rem;
}
.py-9 {
   padding-top: 1.8rem;
   padding-bottom: 1.8rem;
}
.py-10 {
   padding-top: 2rem;
   padding-bottom: 2rem;
}
.pr-0 {
   padding-right: 0 !important;
}

// Padding top
.pt-0 {
   padding-top: 0 !important;
}
.pt-1 {
   padding-top: 0.2rem;
}
.pt-2 {
   padding-top: 0.4rem;
}
.pt-3 {
   padding-top: 0.6rem;
}
.pt-4 {
   padding-top: 0.8rem;
}
.pt-5 {
   padding-top: 1rem;
}
.pt-6 {
   padding-top: 1.2rem;
}
.pt-7 {
   padding-top: 1.4rem;
}
.pt-8 {
   padding-top: 1.6rem;
}
.pt-9 {
   padding-top: 1.8rem;
}
.pt-10 {
   padding-top: 2rem;
}

// Padding right
.pr-0 {
   padding-right: 0 !important;
}
.pr-1 {
   padding-right: 0.2rem;
}
.pr-2 {
   padding-right: 0.4rem;
}
.pr-3 {
   padding-right: 0.6rem;
}
.pr-4 {
   padding-right: 0.8rem;
}
.pr-5 {
   padding-right: 1rem;
}
.pr-6 {
   padding-right: 1.2rem;
}
.pr-7 {
   padding-right: 1.4rem;
}
.pr-8 {
   padding-right: 1.6rem;
}
.pr-9 {
   padding-right: 1.8rem;
}
.pr-10 {
   padding-right: 2rem;
}

// Padding bottom
.pb-0 {
   padding-bottom: 0 !important;
}
.pb-1 {
   padding-bottom: 0.2rem;
}
.pb-2 {
   padding-bottom: 0.4rem;
}
.pb-3 {
   padding-bottom: 0.6rem;
}
.pb-4 {
   padding-bottom: 0.8rem;
}
.pb-5 {
   padding-bottom: 1rem;
}
.pb-6 {
   padding-bottom: 1.2rem;
}
.pb-7 {
   padding-bottom: 1.4rem;
}
.pb-8 {
   padding-bottom: 1.6rem;
}
.pb-9 {
   padding-bottom: 1.8rem;
}
.pb-10 {
   padding-bottom: 2rem;
}

// Padding left
.pl-0 {
   padding-left: 0 !important;
}
.pl-1 {
   padding-left: 0.2rem;
}
.pl-2 {
   padding-left: 0.4rem;
}
.pl-3 {
   padding-left: 0.6rem;
}
.pl-4 {
   padding-left: 0.8rem;
}
.pl-5 {
   padding-left: 1rem;
}
.pl-6 {
   padding-left: 1.2rem;
}
.pl-7 {
   padding-left: 1.4rem;
}
.pl-8 {
   padding-left: 1.6rem;
}
.pl-9 {
   padding-left: 1.8rem;
}
.pl-10 {
   padding-left: 2rem;
}