.wh-100 {
   width: 100%;
   height: 100%;
}

// Width
.w-25 {
   width: 25%;
}
.w-33 {
   width: 33.33%;
}
.w-50 {
   width: 50%;
}
.w-75 {
   width: 75%;
}
.w-100 {
   width: 100%;
}

.w-max {
   width: max-content;
}
.mw-max {
   min-width: max-content;
}
.min-w-min-c {
   min-width: min-content;
}
.min-w-max-c {
   min-width: max-content;
}
.max-w-min-c {
   max-width: min-content;
}
.max-w-max-c {
   max-width: max-content;
}

// Height
.h-25p {
   height: 25%;
}
.h-33p {
   height: 33.33%;
}
.h-50p {
   height: 50%;
}
.h-75p {
   height: 75%;
}
.h-100p {
   height: 100%;
}

// Height vh
.h-25 {
   height: 25vh;
}
.h-33 {
   height: 33.33vh;
}
.h-50 {
   height: 50vh;
}
.h-75 {
   height: 75vh;
}
.h-100 {
   height: 100vh;
}
